[submodule "src/SPTK"]
	path = src/SPTK
	url = https://github.com/sp-nitech/SPTK.git
[submodule "src/ESTK"]
	path = src/ESTK
	url = https://github.com/festvox/speech_tools
[submodule "src/tcl-snack"]
	path = src/tcl-snack
	url = https://github.com/scottypitcher/tcl-snack.git
[submodule "inst/onnx/swift-f0"]
	path = inst/onnx/swift-f0
	url = https://github.com/lars76/swift-f0.git
[submodule "inst/python/DeepFormants"]
	path = inst/python/DeepFormants
	url = https://github.com/MLSpeech/DeepFormants.git
[submodule "src/opensmile"]
	path = src/opensmile
	url = https://github.com/audeering/opensmile
[submodule "src/Yin-Pitch-Tracking"]
	path = src/Yin-Pitch-Tracking
	url = https://github.com/ashokfernandez/Yin-Pitch-Tracking.git
[submodule "src/pyin"]
	path = src/pyin
	url = https://github.com/aguai/pyin.git
[submodule "src/tandem"]
	path = src/tandem
	url = https://github.com/mrhuke/tandem.git
